<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>后台通知新增 - 浪海博客</title>
    <meta name="keywords" content="浪海博客,后台通知新增" />
    <meta name="description" content="浪海博客的后台通知新增页面。" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/pear/component/pear/css/pear.css" />
</head>
<body>

    <form class="layui-form" action="">
        <div class="mainBox">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">显示时间单位秒钟</label>
                    <div class="layui-input-block">
                        <input type="text" name="seconds" lay-verify="number" autocomplete="off" placeholder="请输入显示时间"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">通知跳转地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="href" lay-verify="url" required autocomplete="off" placeholder="请输入通知跳转地址"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">后台通知信息</label>
                    <div class="layui-input-block">
                        <textarea id="notification" name="notification" required  lay-verify="required" placeholder="请输入后台通知信息" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                        lay-filter="notification-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>

</body>
<script src="/pear/component/layui/layui.js"></script>
<script src="/pear/component/pear/pear.js"></script>
<script>
    layui.use(['form', 'jquery'], function() {
        let form = layui.form;
        let $ = layui.jquery;

        form.on('submit(notification-save)', function(data) {
            $.ajax({
                url: "/notification/addNotification",
                data: {
                    "seconds": data.field.seconds,
                    "notification": $("#notification").val(),
                    "href": data.field.href
                },
                type: 'post',
                success: function(result) {
                    if (result.code == 200) {
                        layer.msg(result.message, {
                            icon: 1,
                            time: 2000
                        }, function() {
                            parent.parent.location.reload();
                            /*parent.layer.close(parent.layer.getFrameIndex(window
                                .name)); //关闭当前页*/
                            // parent.layui.table.reload("notification");
                        });
                    } else {
                        layer.msg(result.message, {
                            icon: 2,
                            time: 2000
                        });
                    }
                }
            })
            return false;
        });
    })
</script>
</html>