<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>后台通知管理 - 浪海博客</title>
  <meta name="keywords" content="浪海博客,后台通知管理" />
  <meta name="description" content="浪海博客的后台通知管理。" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/pear/component/pear/css/pear.css" />
</head>
<body class="pear-container">

  <blockquote class="layui-elem-quote">
    在这里可以向全站发布通知，管理发布过的通知。
  </blockquote>

  <table class="layui-hide" id="notification" lay-filter="notification"></table>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
  </script>

  <script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="addNotification">新增后台通知</button>
    </div>
  </script>

</body>
<script src="/pear/component/layui/layui.js"></script>
<script src="/pear/component/pear/pear.js"></script>
<script src="/blogs/assets/js/jquery.min.js"></script>
<script th:inline="none">
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use(['element', 'form', 'table', 'laypage', 'common'], function() {
    var element = layui.element;
    var form = layui.form;
    var table = layui.table;
    var laypage = layui.laypage;
    let common = layui.common;

    layer.msg('使用电脑展示更佳', {
      closeBtn: 1,
      icon: 6,
      time: 3 * 1000,
      offset: '21px'
    });

    table.render({
      elem: '#notification',
      url: '/notification/notificationList',
      toolbar: '#toolbarDemo',
      skin: 'line',
      cols: [[
        {type: 'checkbox'}
        ,{field:'key', title: 'key', align: 'center'}
        ,{field:'title', title: '通知标题', width: 180, align: 'center'}
        ,{field:'href', title: '通知跳转地址', width: 280, align: 'center'}
        ,{field:'expire', title: '通知过期时间单位秒', width: 280, align: 'center'}
        ,{title:'操作', toolbar: '#barDemo', width: 180, align: 'center'}
      ]],
      page: false,
      defaultToolbar: [{
        title: '刷新',
        layEvent: 'refresh',
        icon: 'layui-icon-refresh',
      }, 'filter', 'print', 'exports']
    })

    // 工具栏事件
    table.on('toolbar(notification)', function(obj){
      var id = obj.config.id;
      var checkStatus = table.checkStatus(id);
      var othis = lay(this);
      switch(obj.event){
        case 'addNotification':
          layer.open({
            title: '新增后台通知',
            type: 2,
            shade: 0.1,
            area: [common.isModile()?'100%':'500px', common.isModile()?'100%':'400px'],
            content: '/notification/notificationAddPage'
          });
          break;
        case 'refresh':
          window.refresh();
          break;
      };
    });

    // 触发单元格工具事件
    table.on('tool(notification)', function(obj){ // 双击 toolDouble
      var data = obj.data;
      // console.log(obj)
      if(obj.event === 'del'){
        window.remove(obj);
      } else if(obj.event === 'edit'){
        layer.open({
          title: '编辑友情链接',
          type: 2,
          shade: 0.1,
          area: [common.isModile()?'100%':'500px', common.isModile()?'100%':'400px'],
          content: '/links/linksUpdatePage?id=' + data.id
        });
      } else if(obj.event === 'look'){
        window.open(data.href)
      }
    });

    window.refresh = function(param) {
      table.reload('notification');
    }

    window.remove = function(obj) {
      layer.confirm('确定要删除这个通知', {
        icon: 3,
        title: '提示'
      }, function(index) {
        layer.close(index);
        let loading = layer.load();
        $.ajax({
          url: "/notification/deleteNotification",
          data: {
            "key": obj.data.key
          },
          type: 'delete',
          success: function(result) {
            layer.close(loading);
            if (result.code == 200) {
              layer.msg(result.message, {
                icon: 1,
                time: 2000
              }, function() {
                obj.del();
                parent.location.reload();
              });
            } else {
              layer.msg(result.message, {
                icon: 2,
                time: 2000
              });
            }
          }
        })
      });
    }

  })
</script>
</html>