<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>开发日志记录管理 - 浪海博客</title>
  <meta name="keywords" content="浪海博客,开发日志记录管理" />
  <meta name="description" content="浪海博客的开发日志记录管理页面。" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
</head>
<body>
  <ul class="layui-nav layui-bg-green" lay-filter="">
    <li class="layui-nav-item"><a href="/">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="/devLog/devLogManagePage">开发日志记录管理</a></li>
    <li class="layui-nav-item"><a href="/label/labelPage">标签管理</a></li>
    <li class="layui-nav-item"><a href="/article/articleListPage">文章列表</a></li>
    <li class="layui-nav-item"><a href="/article/newArticlePage">发布新文章</a></li>
    <li class="layui-nav-item"><a href="/user/personalPage">个人空间</a></li>
  </ul>

  <blockquote class="layui-elem-quote">
    在这里可以管理你的开发日志记录内容。
    <p id="issueResult" style="color: red"></p>
  </blockquote>

  <table class="layui-hide" id="devLog" lay-filter="devLog"></table>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>

  <script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="addDevLog">新增开发日志记录</button>
    </div>
  </script>

  <blockquote class="layui-elem-quote">
    <ul class="menu">
      <li>&copy; <a href="http://www.langhai.cc">浪海博客</a>. All rights reserved.</li><li>个人网站 2021 ~ 2029年</li>
      <li><a href="https://gitee.com/langhai666/langhai-blog" target="_blank" >gitee</a></li></li>
      <li><a href="https://github.com/Allenkuzma/langhaiblogs" target="_blank" >github</a></li></li>
    </ul>
  </blockquote>

</body>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>
<script src="/blogs/assets/js/jquery.min.js"></script>
<script th:inline="none">
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use(['element', 'form', 'table', 'laypage'], function() {
    var element = layui.element;
    var form = layui.form;
    var table = layui.table;
    var laypage = layui.laypage;

    layer.msg('使用电脑展示更佳', {
      closeBtn: 1,
      icon: 6,
      time: 3 * 1000,
      offset: '21px'
    });

    table.render({
      elem: '#devLog',
      url: '/devLog/devLogList',
      toolbar: '#toolbarDemo',
      cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field:'id', fixed: 'left', title: 'ID', sort: true}
        ,{field:'title', title: '日志标题', width:180}
        ,{field:'content', title: '日志内容', width:180}
        ,{field:'addTime', title: '新增时间', width:180}
        ,{field:'updateTime', title: '修改时间', width:180}
        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width: 175, minWidth: 175}
      ]],
      page: true
    })

    // 工具栏事件
    table.on('toolbar(devLog)', function(obj){
      var id = obj.config.id;
      var checkStatus = table.checkStatus(id);
      var othis = lay(this);
      switch(obj.event){
        case 'addDevLog':
          layer.open({
            title: '新增开发日志记录',
            type: 2,
            content: '/devLog/devLogAddPage'
          });
          break;
      };
    });

    // 触发单元格工具事件
    table.on('tool(devLog)', function(obj){ // 双击 toolDouble
      var data = obj.data;
      // console.log(obj)
      if(obj.event === 'del'){
        layer.open({
          title: "删除开发日志记录",
          content: '确定要删除开发日志记录',
          yes: function(index, layero){
            $.ajax({
              url: "/devLog/deleteDevLog",
              async: true,
              type: "POST",
              data: {
                "id": data.id
              },
              success: function (data) {
                if(data.code == 200){
                  layer.close(index);
                  obj.del();
                  $("#issueResult").html(data.message);
                }else {
                  layer.close(index);
                  $("#issueResult").html(data.message);
                }
              }
            })
          }
        });
      } else if(obj.event === 'edit'){
        layer.open({
          title: '编辑开发日志记录',
          type: 2,
          content: '/devLog/devLogUpdatePage?id=' + data.id + "&title=" + data.title + "&content=" + data.content
        });
      }
    });

  })
</script>
<script >


</script>
</html>