<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>友情链接新增 - 浪海博客</title>
    <meta name="keywords" content="浪海博客,友情链接新增" />
    <meta name="description" content="浪海博客的友情链接新增页面。" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
</head>
<body>

    <form class="layui-form" action="" id="linksForm">
            <div class="layui-form-item">
                <label class="layui-form-label">h3标签内容</label>
                <div class="layui-input-block">
                    <input type="text" id="title" name="title" lay-verify="title" autocomplete="off" placeholder="请输入h3标签内容" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">超链接地址</label>
                <div class="layui-input-block">
                    <input type="text" id="href" name="href" lay-verify="href" autocomplete="off" placeholder="请输入超链接地址" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">网站名字</label>
                <div class="layui-input-block">
                    <input type="text" id="name" name="name" lay-verify="name" autocomplete="off" placeholder="请输入网站名字" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">网站描述</label>
                <div class="layui-input-block">
                    <input type="text" id="description" name="description" lay-verify="description" autocomplete="off" placeholder="请输入网站描述" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                 <button id="save" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                 <button type="reset" class="layui-btn layui-btn-primary">重置</button>
               </div>
            </div>
    </form>

</body>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>
<script src="/blogs/assets/js/jquery.min.js"></script>
<script>
    $(function() {
        $("#save").click(function () {
            // 执行添加的操作ajax
            $.ajax({
                cache: true,
                type: "POST",
                contentType : "application/json",
                dataType : "json",
                url: "/links/addLinks",
                data: JSON.stringify({
                    "title":  $("#title").val(),
                    "href": $("#href").val(),
                    "name": $("#name").val(),
                    "description": $("#description").val()
                }),
                async: false,
                success: function (data) {
                    window.parent.location.href = "/links/linksListPage?message=" + data.message;
                }
            })
        })
    })
</script>
</html>