<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.langhai.mapper.LabelMapper">

    <select id="getAllLabelByUser" resultType="cc.langhai.domain.Label">
        select * from label where user_id = #{userId}
    </select>

    <insert id="insertLabel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
            label(user_id, content, add_time)
        values
            (#{userId}, #{content}, #{addTime})
    </insert>

    <select id="getLabelByUserAndContent" resultType="cc.langhai.domain.Label">
        select
            *
        from
            label
        where user_id = #{userId} and content = #{content}
    </select>

</mapper>