<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.langhai.mapper.LabelMapper">

    <select id="getAllLabelByUser" resultType="cc.langhai.domain.Label">
        select
            *, DATE_FORMAT(add_time, "%Y-%m-%d %H:%i:%s") as add_time_show, DATE_FORMAT(update_time, "%Y-%m-%d %H:%i:%s") as update_time_show
        from label where user_id = #{userId}
    </select>

    <insert id="insertLabel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
            label(user_id, content, add_time)
        values
            (#{userId}, #{content}, #{addTime})
    </insert>

    <select id="getLabelByUserAndContent" resultType="cc.langhai.domain.Label">
        select
            *
        from
            label
        where user_id = #{userId} and content = #{content}
    </select>

    <select id="getLabelById" resultType="cc.langhai.domain.Label">
        select
            *
        from
            label
        where id = #{id}
    </select>

    <select id="selectArticleByLabel" resultType="cc.langhai.domain.Label">
        select
            l.*
        from
            label AS l
        INNER JOIN
            article AS a
        ON
            l.id = #{id}
        AND
            l.id = a.label_id
        AND
            a.delete_flag = 0
    </select>

    <delete id="deleteLabel">
        DELETE FROM label WHERE id = #{id}
    </delete>

    <update id="updateLabel" >
        update
            label
        set
            content = #{content}, update_time = #{updateTime}
        where
            id = #{id}
    </update>

    <select id="article" resultType="cc.langhai.domain.Article">
        SELECT
        a.*, u.username AS author, DATE_FORMAT(a.add_time, "%Y-%m-%d %H:%i:%s") as add_time_show, l.content AS label_content
        FROM
        article AS a
        INNER JOIN
        user AS u
        INNER JOIN
        label AS l
        ON
            a.delete_flag = 0
        AND
            a.user_id = u.id
        AND
            a.label_id = l.id
        AND
            l.id = #{id}
        ORDER BY a.add_time DESC
    </select>
</mapper>