<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.langhai.mapper.UserMapper">

    <select id="getUserByUsername" resultType="cc.langhai.domain.User">
        select * from user where username = #{username}
    </select>

    <select id="getUserListByDay" resultType="cc.langhai.domain.User">
        select * from user where add_time like #{username}"%"
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user(username, nickname, password, add_time) values(#{username}, #{nickname}, #{password}, #{addTime})
    </insert>

    <select id="getUserByUsernameAndPassword" resultType="cc.langhai.domain.User">
        select * from user where username = #{username} and password = #{password}
    </select>

</mapper>